*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

header {
	background-color: #ff7380;
}

h1 {
	color: #000;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: right; 
	float: right;
	padding-top: 87px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: lowercase;
}

h3 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding-top: 87px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: lowercase;
}

h4 {
	color: #000;
	font-size: 21px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: lowercase;
}

a {
	color: #444;
	font-size: 16px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: lowercase;
}

ul {
	color: #444;
	font-size: 21px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: lowercase;
	display:inline;
}

li {
	display: inline-block;
}

footer {
	color: #000;
	font-size: 16px;
	font-weight: bold; 
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: lowercase;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff7380;
    color: white;
    text-align: center;
}

img {
	width: 25%;
}

.bg-image {
	background: url('../images/natural-before.jpg');
	height:300px;
	width: 300px;
}

.right {

}