*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

header {
	background-color: #ff7380;
}

.banner {
	color: #444;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-size: 7px;
	font-weight: bold;
	text-align: center;
}



h1 {
	color: #000;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: right; 
	float: right;
	padding-top: 87px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: uppercase;
}

h3 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding-top: 87px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: lowercase;
}

h4 {
	color: #000;
	font-size: 21px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: lowercase;
}

a {
	color: #444;
	font-size: 16px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	color: #444;
	font-size: 16px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	display:inline;
}

li {
	display: inline-block;
}

footer {
	color: #000;
	font-size: 16px;
	font-weight: bold; 
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: lowercase;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff7380;
    color: white;
    text-align: center;
}

img {
	width: 50%;
}

.bg-image {
	background: url('../images/natural-before.jpg');
	height:300px;
	width: 300px;
}

.CTA2 {
	text-align: right;
	float: right;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 96px;
	padding-bottom: 98px;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: uppercase;

}

.menu-navigation {
	background-color: white;
	text-align: center;
	float: center;
	background-origin: padding-box;
	box-shadow: 0, 0, 5px, #ccc;
	box-sizing: 20%;
	color: #444;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	font-family: "Proxima Nova",Helevetica,Arial,sans-serif;
	text-transform: uppercase;
	line-height: 22.4px;
	padding-top: 40px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 40px;
	
}

.menu-options-container {
	text-transform: lowercase;
	display: inline-block;
	font-size: 11px;
}